@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --cor1:#FEFFFF;
  --cor2:#F2A71B;
  --cor3:#78866B;
  --cor4:#F4C264;
  --cor5:#323B29;
  --cor6:#C9D4BE;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--cor3);
}

button{
  cursor: pointer;
}
